.matrixContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

.matrixContainer img {
  position: absolute;
  color: var(--mainCyan);
  opacity: 0.7;
  font-size: 25px;
  font-family: Arial;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) translateX(-10vh) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) translateX(110vh) rotate(720deg);
    opacity: 0;
  }
}

